repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
- repo: local
  hooks:
    -   id: Format
        name: Use cargo fmt to check files
        entry: cargo fmt --all --check
        language: system
        types: [rust]
